# app/templates/plata/nueva_conversacion.html {% extends "dashboard_layout.html"
%} {% block content %}

<div class="container mt-4">
  <h2>Nueva conversación</h2>

  <hr />

  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action"> Facebook </a>

    <a href="#" class="list-group-item list-group-item-action"> Instagram </a>

    <a href="#" class="list-group-item list-group-item-action"> WhatsApp </a>

    <a href="#" class="list-group-item list-group-item-action"> CSV </a>

    <a href="#" class="list-group-item list-group-item-action"> Texto </a>
  </div>
</div>

{% endblock %}
